# Database
DATABASE_URL=mysql+pymysql://user:password@localhost:3306/trustlens?charset=utf8mb4

# App
APP_NAME=TrustLens API
APP_ENV=local
APP_VERSION=0.1.0
APP_DEBUG=true
ALLOW_ORIGINS=*

# for cURL
API_URL=https://www.backend.mydomain.com/

# for Gemini API
GEMINI_API_KEY=your_api_key_here